meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')
title #{title}
// Bootstrap Core CSS
link(href='/startbootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
// MetisMenu CSS
link(href='/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
// Custom CSS
link(href='/startbootstrap/dist/css/sb-admin-2.css', rel='stylesheet')
// Custom Fonts
link(href='/startbootstrap/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(href='/startbootstrap/bower_components/font-awesome/css/icomoon.css', rel='stylesheet', type='text/css')

// Project css
link(href='/css/sociotal.css', rel='stylesheet')
// jQuery
script(src='/startbootstrap/bower_components/jquery/dist/jquery.min.js')
// Bootstrap Core JavaScript
script(src='/startbootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js')
// Custom Theme JavaScript
script(src='/startbootstrap/dist/js/sb-admin-2.js')
script(src='/js/bootbox.min.js')
script(src='/js/jquery.tmpl.min.js')
script(src='/socket.io/socket.io.js')


// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
