.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li.sidebar-search

        // /input-group
      li
        a(href='/')
          i.fa.fa-dashboard.fa-fw
          |  Dashboard
      
      li
        a(href='/channels')
          i.fa.fa-link.fa-fw
          |  Channels
      li
        a(href='/communities')
          i.fa.fa-users.fa-fw
          |  Communities

      li
        a(href='/devices')
          span.fa.icon-generic_device.fa-fw
          |  Devices

      li
        a(href='/channels?type=smartphone')
          i.fa.fa-mobile.fa-fw
          |  Smartphones

// /.navbar-static-side
