doctype html
html(lang='en')
  head
    include ./includes/head.jade
    
  body 
              
      .row.align-middle
        col-md-6.col-md-offset-3.text-center
           p.error-code 401
           p.description= "Sorry, your athentication period is expired"
           p.description= "Don't worry"
           br
           br
           p.description
            a(href="/login") Just return login
        
         
     
            

