doctype html
html(lang='en')
  head
    include ../includes/head.jade
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        include ../includes/header.jade
        include ../includes/sidebar.jade
      // Page Content
      #page-wrapper
        .container-fluid
          .row
            .col-lg-12
              h1.page-header Blank
            // /.col-lg-12
          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    include ../includes/footer.jade
